In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.lines import Line2D
import json, os, glob, re

import matplotlib
matplotlib.rcParams['text.usetex'] = True
matplotlib.rcParams['text.latex.preamble'] = [r'\usepackage{amsmath}', r'\usepackage{amssymb}']

from matplotlib import rc
rc("text", usetex=False)

# from experiments_cifar10 import get_exp_results

import seaborn as sns
sns.set_style("whitegrid")

/tmp/ipykernel_275820/4234949123.py:9: MatplotlibDeprecationWarning: Support for setting an rcParam that expects a str value to a non-str value is deprecated since 3.5 and support will be removed two minor releases later.
  matplotlib.rcParams['text.latex.preamble'] = [r'\usepackage{amsmath}', r'\usepackage{amssymb}']

In [10]:
path = 'summary_bike/'

list_dir = []

for file in glob.glob(path + '*.json'):
    with open(file) as f:
        data = json.load(f)
        list_dir.append(data)
        
df = pd.DataFrame(list_dir)
print(df.columns)
df

Index(['seed', 'year', 'season', 'baseline_ood_mse', 'new_HSIC_ood_mse'], dtype='object')

     seed   year   season  baseline_ood_mse  new_HSIC_ood_mse
0       1  year2  season1         43.765180         53.731700
1       0  year2  season3         49.637797         50.251558
2       3  year1  season3         35.894412         34.897601
3       5  year1  season1         29.477354         29.450875
4      10  year1  season1         32.395201         36.539871
..    ...    ...      ...               ...               ...
155    17  year2  season1         45.077306         53.406763
156    15  year1  season3         35.774708         34.804171
157    15  year1  season2         25.566523         25.619165
158     4  year2  season2         39.555167         41.382243
159     5  year2  season4         38.193648         42.479001

[160 rows x 5 columns]

# Correlations Table

In [11]:
keys = ['year','season']
measure = ['baseline_ood_mse', 'new_HSIC_ood_mse']

variables = {}
for index in measure:
    variables[index] = ['mean', 'std']
summary = df.groupby(keys, as_index=False).agg(variables)

# summary_lamda1 = summary[summary.lamda==1][summary.alpha==1]

# display(summary_lamda1)

# print(summary_lamda1.to_latex(escape=False, column_format='l' + 'c'*len(summary_lamda1.columns)))
summary

    year   season baseline_ood_mse           new_HSIC_ood_mse
                              mean       std             mean       std
0  year1  season1        30.685602  1.117235        32.058438  2.762741
1  year1  season2        23.901020  0.771100        24.669715  0.680471
2  year1  season3        35.796019  1.128581        34.813894  1.502578
3  year1  season4        24.589306  0.930715        25.859012  1.201212
4  year2  season1        44.420084  1.279099        49.189889  4.703978
5  year2  season2        39.616778  1.022942        42.271329  1.084593
6  year2  season3        49.089384  1.794651        49.247516  3.187225
7  year2  season4        38.867305  1.481360        43.257638  1.409174